.present{
	@include viewport-section ();
	position: relative;

	&:before{
  	content: url(./img/bg/present-bg.png);
  	display: block;
  	position: absolute;
  	bottom: -13%;
  	right: 0;
  	z-index: 1;
  }

	.container{
		@include flexible-column ();
	}
}


.player{
	position: relative;
	width: rem(660px);
	height: rem(406px);
	z-index: 10;

	&__wrapper{
		height: 100%;
		width: 100%;
	
		&-elem{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&-bg{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			cursor: pointer;
			visibility: visible;
		}
	}

	&__controls{
		height: 35px;
		width: 100%;
		display: flex;
		background: #404040;
		padding: 0 20px;

		.duration{
			@include flexible-center;
			flex: 1;
			margin-right: 40px;

			&__btn{
				width: 0;
    		height: 0;
    		border: 0.875rem solid transparent;
    		border-left-color: #626262;
    		border-radius: 0.375rem;
    		border-right-width: 0;
    		margin-right: 10px;
			}

			&__crawl{
				width: 100%;
				height: 4px;
				border-radius: 1px;
				background: #626262;
				outline: none;
				appearance: none;

				&::-webkit-slider-thumb{
    			-webkit-appearance: none;
    			appearance: none;
    			background: #626262;
    			cursor: pointer;
    			width: 13px;
    			height: 13px;
    			border-radius: 50%;
				}
			}
		}

		.sound{
			@include flexible-center;

			&__crawl{
				width: rem(54px);
				height: 4px;
			}
		}
	}
}

.player__wrapper-bg--active{
	visibility: hidden;
}