.reviews{
	@include viewport-section ();
	position: relative;

	&:after{
		content: url(./img/bg/riviews-bottomBg.png);
		display: block;
		position: absolute;
		bottom: -14%;
		left: 0;
		z-index: 1;

		// @include tablets{
		// 	content: none;
		// }
	}

	&:before{
		content: url(./img/bg/reviews-topBg.png);
		display: block;
		position: absolute;
		top: 8%;
		right: 0;
		z-index: 1;

		// @include tablets{
		// 	content: none;
		// }
	}


	.container{
		@include flexible-column ();
	}
}

.card__wrap{
	overflow: hidden;
	@include flexible-column ();
	width: 100%;
	align-items: stretch;
	.card{
		// display: flex;
		// transition:all 1s;
	}
}

.card__item{
	@include flexible-center ();
	display: none;
	flex: 1;
	filter: drop-shadow(-10.649px 7.456px 15px rgba(151,167,156,0.17));
	background-color: #f8faf9;
	justify-content: left;
	margin-bottom: rem(20px);
	background-image:  url(./img/bg/bg-card.png);
	background-position: right top;
	background-repeat: no-repeat;
	padding: rem(50px) rem(45px) rem(35px); 
	@include tablets{
 		@include flexible-column();
 		display: none;
	}
	
	&-avatar{
		width: rem(256px);
		height: rem(256px);
		overflow: hidden;
		margin-right: rem(25px);
		@include tablets{
 			width: rem(130px);
			height: rem(133px);
			margin-right: 0;
			margin-bottom: rem(25px);
		}

		.card__pictures{
			@include img-reviews();
		}
	}

  &-content{
  	width: rem(450px);
  	vertical-align: top;
  	@include tablets{
 			text-align: center;
 			width: inherit;
		}
  	
  	&-subtitle{
			font-size: rem(30px);
			color: #000000;
			font-weight: 700;
			margin-bottom: rem(30px);
		}

		&-text{
			font-size: rem(18px);
			color: #666666;
			margin-bottom: rem(25px);
		}

		&-name{
			font-size: rem(18px);
			color: #000000;
			font-weight: 500;
		}
	}	
}


.photo{
	@include flexible-center ();
	
	&__link{
		display: block;
		width: rem(80px);
		height: rem(80px);
		border: rem(6px) solid transparent;
		border-radius: 50%;
		overflow: hidden;
		margin-right: rem(15px);
		z-index: 10;
		&:last-child{
			margin-right: 0;
		}
		&:hover{
			border: rem(6px) solid #355a49;
		}

		
			
	

		&--active{
			border: rem(6px) solid #355a49;
		}
	}	
}

.vision{
	display: flex;
}