.header{
	position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  @include flexible-center ();
		justify-content: space-between;
 		padding: 20px 0;
 		width: 100%;

  // .container{
		// @include flexible-center ();
		// justify-content: space-between;
 	// 	padding: 20px 0;
 	// 	width: 100%;
  // }
}

.logo{
	display: block;
	width: 55px;
	height: 40px;

	@include tablets {
		// padding-left: 20px;
	}
}

.menu{
	flex: 1;
	@include tablets{
		display: none;
		&--burger{
			display: flex;
			position: fixed;
			top: 0;
			left: 120%;
			bottom: 0;
			right: 0;
			background: #353739;
			align-items: center;
    	justify-content: center;
    	opacity: 0;

    	.menu__list{
    		@include flexible-column();

    		.menu__item{
    			margin-right: 0;
    			margin-bottom: rem(20px);

    			&:last-child{
    				margin-bottom: 0;
    			}
    		}

    		.menu__link{
    			font-size: rem(36px);
    		}
    	}
		}
	}

	&__list{
		@include flexible-center ();
	}
	&__item{
		margin-right: 20px;
		&:last-child{
			margin-right: 0px;
		}
	}
	&__link{
	font-size: 18px;
	color: #ffffff;
	font-family: "Alegreya Sans";
	font-weight: 400;
	}
}

.contacts{
	&__tel{
	font-size: 24px;
	color: #ffffff;
	font-family: "Alegreya Sans";
	font-weight: 400;
	position: relative;

	@include tablets{
		display: none;
	}


		&:before{
			content: '';
			display: inline-block;
			margin-right: 10px;
			width: 15px;
			height: 14px;
			background: url(../img/icon/phone%20.png) no-repeat;
		}
	}
}

.hamburger{
	display: none;
	

	@include tablets{
		display: initial;
		position: fixed;
		right: 5%;
		top: 3%;
		z-index: 1;
	}
	.hamburger__icon {
  	width: 1.5rem;
  	height: 1.5rem;
  	fill: white;
  	filter: drop-shadow(0 0 5px #000);
	}
}

.menu__burger-close{
	display: none;
}

.menu__burger-icon {
  fill: #fff;
  height: rem(20px);
  width: rem(20px);
  position: absolute;
  top: 5%;
}

.burger--activ{
	@include tablets{
    left: 0;
    z-index: 100;
    opacity: 1;

    .menu__burger-close{
			display: block;
		}
	}
}





















